[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Custom ISO Builder
Name[de]=ISO Ersteller
Name[el]=Προσαρμοσμένη Δημιουργία ISO
GenericName=Custom ISO Builder
Comment=Customize and Rebuild ISO Image
Comment[de]=ISO-Abbilder verändern und neu packen
Comment[el]=Προσαρμογή και επαναδημιουργία αρχείου ISO
Comment[es]=Personaliza y reconstruye una imagen ISO
Comment[fr]=Personnalise et reconstruit une image ISO
Comment[id]=Kustomisasi dan membentuk kembali berkas ISO
Comment[it]=Modifica e riassembla un'immagine ISO
Comment[ja]=ISO イメージのカスタマイズ・再構築
Comment[pl]=Personalizacja i Przebudowa Obrazu ISO
Comment[pt_BR]=Customizar e Reconstruir a Imagem ISO
Comment[pt_PT]=Personalize e reconstrua uma Imagem ISO
Comment[ru]=Настройка и повторная сборка образа ISO
Exec=remsu /usr/bin/custom-iso-builder
Icon=media-cdrom
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
